<h1> Create a Team and Heroes!</h1>

<form action="/" method ="">
  <label for="name" >Hero's Name:
    <input type="text" name="name">
  </lable>
  <label for="power" >Hero's Power:
         <input type="text" name="power">
  </lable>
  <label for="boigraphy" >Hero's Biography:
        <input type="text" name="biography">
  </lable>

</form>